* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}



header {
  color: white;
  background-color: rgb(101, 99, 8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  padding: 8px 15px;
  
}





main {
  display: flex;
}


.sidebar {
  width: 20%;
  background-color: #c5c59b;
  padding: 20px;
}

.sidebar ul li {
  list-style: none;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.content {
  width: 80%;
  padding: 30px;
}

.content h2 {
  margin-bottom: 15px;
}

.content p {
  margin-bottom: 25px;
}


.container {
  display: flex;
  gap: 20px;
}

.card {
  background: #eee;
  padding: 15px;
  flex: 1;
  border: 1px solid #999;
}


.card h3 {
  margin: 10px 0;
}

.card button {
  padding: 5px 10px;
  
}
.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


footer {
  text-align: center;
  background-color: rgb(101, 99, 8);
  color: white;
  padding: 15px;
 
}